@tailwind base;
@tailwind components;
@tailwind utilities;

@supports not (aspect-ratio: 16 / 9) {
  .safari14Video {
    min-height: 250px;
  }
}

@media screen and (min-device-width: 600px) and (max-device-width: 800px) {
  @supports not (aspect-ratio: 16 / 9) {
    .safari14Video {
      min-height: 400px;
    }
  }
}

@supports not (aspect-ratio: 16 / 9) {
  .safari14VideoLesson {
    min-height: 300px;
  }
}

@media only screen and (min-width: 700px) {
  @supports not (aspect-ratio: 16 / 9) {
    .safari14VideoLesson {
      min-height: 400px;
    }
  }
}

@media only screen and (min-width: 900px) {
  @supports not (aspect-ratio: 16 / 9) {
    .safari14VideoLesson {
      min-height: 500px;
    }
  }
}
